
<% @restaurants.each do |restaurant| %>

<div class="gallery animated fadeIn">
  <a target="_self" href="/restaurants/<%=restaurant.id %>">
    <img src="knife.png" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc"><%="#{restaurant.name}"%></div>
</div>

<% end %>
