
<div class="gallery2">
  <div class="profile-card">
    <a target="_blank" href="<%=@restaurant.url%>">
      <img src="/knife.png" alt="Fjords" width="500" height="500">
    </a>
    <div class="desc"><%=@restaurant.name%></div>
  </div>
</div>
<% if @restaurant.reviews %>
  <%@restaurant.reviews.each do |review| %>
  <div class="gallery3 animated fadeIn">
    <div class="profile-card">
      <a target="_self" href="/reviews/<%=review.id%>">
        <img src="/knife.png" alt="Fjords" width="250" height="250">
      </a>
      <div class="desc"><%=review.user.name%>'s Review</div>
    </div>
  </div>
  <%end%>
<%end%>
<a href='/reviews/new'><button class="buttonHome button5">Write A Review</button></a>
