
<div class="parallax">
  <div class="container-fluid">
<body>
   <div class="parallax"></div>
  <div class="parallax"></div>


<a href='/users/new'><button class="button_alt button3">Sign Up</button></a>
<a href='/login'><button class="button_two button3">Login</button></a>
<img class="animated fadeInDown" src="/knife.png" height="400" width="400">
<div class="imageText animated fadeIn" class="animated fadeInDown">Eat the competition.</div>
 </body>


<img class="logo" src="/knife.png" height="80" width="80">


  <!-- <a href="#" class="button">Link Button</a> -->
